@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #ffffff;
  --cor-terciaria: #22D4FD;
  --cor-hover: #272727;
}

*{
    margin: 0;
    padding: 0;
}

body {
    
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var;
}
.Titulo-Destaque {
    color: var(--cor-terciaria);
} 

.cabecalho {
    padding: 2% 0 2% 12%; 
    background-color: var(--cor-terciaria);
 }

 .cabecalho__menu {
    background-color: var(--cor-terciaria);
    display: flex;
    gap: 50px;
 }

.cabecalho__menu__link {
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;

}

.curriculo {
    margin: 0 5%;
}

.curriculo__titulo {
    font-size: 1.85rem;
    font-family: 'Krona One', sans-serif;
    padding: 4% 0 0 0;
    display: flex;
    color: var(--cor-secundaria);
}


.curriculo__informacoes {
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    flex-direction: column;
    text-decoration: none;
    margin: 2% 0 0 0;
    
}

.curriculo__informacoes__texto {
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    margin: 3% 0 4% 0;

}

.sobre__mim {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.sobre__mim__texto {
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    margin: 0 2% 5% 3%;
}


.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
    color: var(--cor-secundaria);
}
.apresentacao__conteudo__texto {
    margin: 1em;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.apresentacao__links_subtitulo {
font-family: 'Krona One', sans-serif;
font-weight: 400;
font-size: 1.5rem;
color: var(--cor-secundaria);
margin-bottom: 0.5em;
}

.apresentacao__link__redesociais {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__link__redesociais:hover {
background-color: var(--cor-hover);
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    
}

.certificados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
}

.certificados__conteudo {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 300px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 5px;
    text-decoration: none;
    color: var(--cor-secundaria);
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    gap: 32px;
}

.fotoperfil {
    margin: 0 0 12em 1em;
    width: 55%;
}

.fotoperfilabout {
    margin: 2%;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}

